Repository v1in/resume.vldmr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "resume.json": "json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f",
  "*.{css,json,md}": "prettier --write"
}

update puppeteer -> puppeteer-cli
  package.json
Due: prettier --write

update project
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  README.md
  package.json
Due: prettier --write

add json package
  package.json
Due: prettier --write

add postinstall script
  package.json
Due: prettier --write

update husky package
  package.json
Due: prettier --write

add html-minifier for postbuild script
  package.json
Due: prettier --write

add html-minifier for postbuild script
  .husky/pre-commit
  .husky/pre-push
Due: none

add meta to resume.json, update husky hooks
  .husky/pre-push
  .lintstagedrc.json
  README.md
  package.json
  resume.json
  style.css
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

update postbuild:html script
  package.json
Due: prettier --write

reoganize the structure, add some highlights
  package.json
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

minor changes to the text
  package.json
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

added a direct link to download the pdf
  package.json
  partials/header.hbs
  style.css
Due: prettier --write

add redirect to primary Netlify domain
  README.md
  _redirects
  package.json
Due: prettier --write

temporarily disabled redirects
  _redirects
Due: none

enabled redirects
  _redirects
Due: none

redirect to custom 404
  _redirects
Due: none

removed 404 redirect
  _redirects
Due: none

minor changes to the text
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

interests changes
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

updated favicon
  favicon.ico
Due: none

add high quality favicon icon
  favicon.ico
Due: none

upgrade packages
  .husky/.gitignore
  package.json
Due: prettier --write

add simple analytics
  package.json
  partials/header.hbs
  resume.hbs
Due: prettier --write

update redirects
  _redirects
  resume.hbs
Due: none

analytics: add several events
  partials/header.hbs
Due: none

analytics: update events
  partials/header.hbs
Due: none

add new certificate
  resume.json
  style.css
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

update print styles
  style.css
Due: prettier --write

update README.md
  README.md
Due: prettier --write

0.1.0
  package.json
Due: prettier --write

hide reference section on print
  partials/references.hbs
Due: none

update resume
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

add new certificate
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

fix render links
  style.css
Due: prettier --write

add last modified date in footer
  partials/footer.hbs
  resume.hbs
  style.css
Due: prettier --write

0.2.0
  package.json
Due: prettier --write

update Lionsgroup link
  resume.json
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

add GDPR message (specific regulation of Poland)
  README.md
  package.json
  partials/footer.hbs
  resume.json
  style.css
Due: prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f

chroe: update analytics script
  _redirects
  package.json
  partials/header.hbs
  resume.hbs
Due: prettier --write

feat: add development mode for online testing
  .eslintrc.json
  README.md
  bin/cli.js
  index.js
  package.json
  resume.json
  server.js
Due: eslint --fix, prettier --write, json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f
