Repository v1in/resume.vldmr: changes, and which lint-staged commands are due for each by the changed paths.
All: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f, prettier --write

.lintstagedrc.json:

{
  "resume.json": "json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f",
  "*.{json,md}": "prettier --write"
}

0.5.0
  package.json
Due: prettier --write

chroe: update packages
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  README.md
  index.js
  package.json
Due: prettier --write

feat: add show btn for phone
  partials/header.hbs
  style.css
Due: none

0.6.0
  package.json
Due: prettier --write

style: css nesting not support yet (html-minifier)
  partials/header.hbs
  style.css
Due: none

chore: update work
  resume.json
Due: json --in-place -e 'this.meta.lastModified=new Date().toISOString()' -f, prettier --write

0.7.0
  package.json
Due: prettier --write
